.columns {
  display: flex;
  gap: 1rem;
  padding: 1.25rem;

  @include tablet {
    flex-direction: column;
  }
}

.columnBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.columnTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.columnName {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.countBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.25rem;
  height: 1.25rem;
  padding: 0.25rem, 0.5rem;
  border-radius: 0.25rem;
  background: $color-gray-eeeeee;
  color: $color-gray-787486;
  font-size: 0.75rem;
  font-weight: 500;
}
