.modalForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
  padding: 1rem;
  width: 100%;
}

.modalTitle {
  font-size: 1.5rem;
  width: 36rem;
}

.modalButton {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;

  @include mobile {
    width: 100%;
  }
}

.columnDelete {
  position: relative;
  color: $color-gray-9fa6b2;
  font-size: 0.75rem;
  text-decoration: underline;
  text-underline-position: under;
  bottom: -0.5rem;

  @include tablet {
    bottom: 0;
  }
}

.buttonBox {
  display: flex;
  justify-content: space-between;

  @include tablet {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}
