.tags {
  display: flex;
}

.imagePreview {
  width: 5rem;
  height: 5rem;
  background-color: white;
  filter: brightness(80%);
  position: relative;
}

.imageIcon {
  position: absolute;
  z-index: 9999;
  top: 1.25rem;
  left: 1.25rem;
}
