/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,
input,
select {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}

/* custom */
* {
  font-family: 'Pretendard', sans-serif;
}

a {
  color: $color-black-333236;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

.Toastify__toast-container {
  bottom: 20px !important;
}

input {
  border: none;
  outline: none;
  padding: 0;

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px $color-white-ffffff inset;
    box-shadow: 0 0 0 1000px $color-white-ffffff inset;
  }
}

.react-datepicker-wrapper {
  width: 100%;
}
