.cardBox {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1.25rem;
  width: 19.75rem;
  border-radius: 0.5rem;
  border: 0.0625rem solid $color-gray-d9d9d9;
  background: $color-white-ffffff;
}

.cardBox span {
  color: $color-black-333236;
  font-size: 1rem;
  font-weight: 500;
}

.tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.tags li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  background: $color-orange-ffa500;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.75rem;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}
