.background {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modalBox {
  background-color: white;
  width: 30rem;
  height: 20rem;
  position: fixed;
  transform: translate(-50%, -50%);
  padding: 1rem;
  display: flex;
}
