.wrap {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  background: $color-white-ffffff;
  padding: 2rem 1.75rem 1.5rem;
  margin-bottom: 1rem;
  border: 0.0625rem solid $color-gray-d9d9d9;

  @include mobile {
    padding: 2rem 1rem 1.75rem;
  }

  .title {
    color: $color-black-333236;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }

  .form {
    .inputBox {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
    }

    .button {
      width: 5.25rem;
      height: 2rem;
      border-radius: 0.25rem;
      background: $color-violet-5534da;
      color: $color-white-ffffff;
      text-align: center;
      font-size: 0.875rem;
      font-weight: 500;
      float: right;
      margin-top: 2rem;

      &:disabled {
        background-color: $color-gray-d9d9d9;
        color: $color-black-000000;
      }
    }
  }
}
