@keyframes slideIn {
  from {
    margin-left: 18.75rem;
  }
  to {
    margin-left: 0;
  }
}

@keyframes slideOut {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 18.75rem;
  }
}

.open {
  animation: slideOut 0.4s ease forwards;
  transform: translateX(-18.75rem);

  @media (max-width: 1060px) {
    animation: none;
    transform: translateX(0);
  }
}

.close {
  animation: slideIn 0.4s ease forwards;
  transform: translateX(-18.75rem);

  @media (max-width: 1060px) {
    animation: none;
    transform: translateX(0);
  }
}

.myDashboardPage {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 100vh;
  height: calc(100vh - 4.3rem);
  background: $color-gray-fafafa;
  padding: 0rem 2.5rem 1.5rem 0.5rem;
  transform: translateX(-18.75rem);
  width: 100%;

  @media (max-width: 1060px) {
    transform: translateX(0);
    padding: 0 1rem 2rem;
  }
}

.wrap {
  width: 65rem;
  min-width: 18.75rem;
  padding: 0 1rem;

  @media (max-width: 1060px) {
    width: auto;
    margin: 0 1rem;
    padding: 0;
  }
}

.buttonBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;

  .btn {
    width: 16rem;

    @include tablet {
      width: 12rem;
    }

    @include mobile {
      width: 14rem;
      position: fixed;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.invitedDashboard {
  display: flex;
  overflow: hidden;
  min-height: 25rem;
}
