.myDashboardPage {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 100vh;
  height: calc(100vh - 4.3rem);
  background: $color-gray-fafafa;
  padding: 0rem 1rem 1.5rem;
}

.wrap {
  width: 65rem;
  min-width: 18.75rem;
  @media (max-width: 1040px) {
    width: auto;
    margin: 0 1rem;
  }
}

.buttonBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;

  .btn {
    width: 16rem;

    @include tablet {
      width: 12rem;
    }

    @include mobile {
      width: 14rem;
      position: fixed;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.invitedDashboard {
  display: flex;
  overflow: hidden;
  min-height: 25rem;
}
